// Mixins
@mixin centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Colors
$light_purple: #2b7eeb;
$grey: #505050;
$dark_grey: #404040;
$light_grey: #a3a3a3;
$white: white;
$green: #5aee5a;

// Shadows
$card-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
